Django==1.11
django-constance==2.0.0
django-picklefield==0.3.2
django-mysql==1.1.0
djangorestframework==3.6.4 
djangorestframework-jwt==1.11.0 
dj-database-url==0.4.2
gunicorn==19.6.0
PyMySQL==0.7.11
requests==2.13.0
Unipath==1.1